.not-valid {
    -fx-background-color: white;
    -fx-border-color: black;
}

.weak {
    -fx-background-color: #ffebeb;
    -fx-border-color: red;
}

.medium {
    -fx-background-color: #faf0c3;
    -fx-border-color:  #cfb33a;
}

.strong {
    -fx-background-color: #d6ffd7;
    -fx-border-color: green;
}